<div>
    <table class="styled-table">
        <tr style="font-weight: bold;">
            <td>
                Name
            </td>
            <td>
                Temperament
            </td>
            <td>
                That's what he looks like
            </td>
        </tr>

        <tr *ngFor="let cat of catList">
            <td>
                {{cat.name}}
            </td>
            <td>
                {{cat.temperament}}
            </td>
            <td *ngIf="cat.image.url">
                <img [src]="cat.image.url" style="width: 180px;">
            </td>
        </tr>
    </table>
</div>