<div>
    <table class="styled-table" style="color: white;">
        <tr style="font-weight: bold;">
            <td>
                Name
            </td>
            <td>
                Temperament
            </td>
            <td>
                Weight
            </td>
            <td>
                That's what he looks like
            </td>
        </tr>

        <tr *ngFor="let cat of catList">
            <td>
                {{ cat.name | uppercase }}
            </td>
            <td>
                {{ cat.temperament }}
            </td>
            <td>
                {{ cat.weight.metric }}
            </td>
            <td *ngIf="cat.image.url">
                <img [src]="cat.image.url" style="width: 100px; height: 100px; border-radius: 50px;">
            </td>
        </tr>
    </table>
</div>