.bt-az {
    border-color:#d246f5;
    background:#d246f5;
    box-shadow: none;
    color:rgb(255, 255, 255);
    text-shadow: none;  
    font: oblique;
    margin-left: 6px;
    }

    .bt-az:hover {
        background:linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
        }
    
        